@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  font-family: "JetBrains Mono";
}

.box {
  display: flex;
  background-color: #ddeeff;
  padding: 5px;
  width: 200px;
  margin: 5px;
  box-sizing: border-box;
  gap: 5px;
  flex-wrap: wrap;
}

.box img {
  max-width: 100%;
  display: block;
}
